<h1>网站首页</h1>
<p><%= link_to '查询用户', usertables_path %></p>
<p><%= link_to '用户注册', new_usertable_path %></p>
<p><%= link_to '用户登录', login_index_path %></p>
<p><%= link_to '添加图书', book_index_path %></p>
<p><%= link_to '图书查询', book_gotoSelect_path %></p>


